<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookmarks</title>
    <link href="/static/css/reset.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
</head>

<body>
    <div id="full-page-form">
        <form method="post" action="/signup">
            <label>Email</label><br>
            <input type="email" name="email"><br>
            <label>Password</label><br>
            <input type="password" name="password"><br>
            <label>Confirm Password</label><br>
            <input type="password" name="confirm_password"><br>
            <input type="submit" id="signup" value="Sign Up">
        </form>
        <p>Already have account? Click Here.</p>
    </div>

    <script src="/static/js/jquery-2.1.1.min.js"></script>
</body>

</html>